// General

@mixin common-styles() {
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  line-height: normal;
}

@mixin body-text() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 400;
}

@mixin small-text() {
  @include common-styles;
  font-size: 0.833rem;
  font-weight: 400;
}

@mixin heading-1() {
  @include common-styles;
  font-size: 2.986rem;
  font-weight: 700;
}

@mixin heading-2() {
  @include common-styles;
  font-size: 2.488rem;
  font-weight: 700;
}

@mixin heading-3() {
  @include common-styles;
  font-size: 2.074rem;
  font-weight: 600;
}

// Form

@mixin form-section-title() {
  @include common-styles;
  font-size: 1.25rem;
  font-weight: 700;
}

@mixin form-label() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 600;
}

@mixin button() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 600;
}

@mixin form-input() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 400;
}

@mixin drag-card-title() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 600;
}

// Resume
@mixin resume-fullname-title() {
  @include common-styles;
  font-size: 3rem;
  font-weight: 700;
}

@mixin resume-work-title() {
  @include common-styles;
  font-size: 2.5rem;
  font-weight: 400;
}

@mixin resume-section-title() {
  @include common-styles;
  font-size: 2rem;
  font-weight: 700;
}

@mixin header-logo() {
  @include common-styles;
  font-size: 1.2rem;
  font-weight: 700;
}

@mixin footer-link() {
  @include common-styles;
  font-size: 1rem;
  font-weight: 700;
}

@mixin error-title() {
  @include common-styles;
  font-weight: 700;
  font-size: 2.4rem;
}
