@use "./colors";
@use "./text-styles";

.ant-form-item {
  margin-bottom: 0;
}

.ant-form-item-label {
  @include text-styles.form-label;
}

.ant-rate {
  color: colors.$primary;
}

.ant-modal-footer {
  display: flex;

  button {
    flex: 1;
  }
}

.ant-form-item-explain-error {
  font-size: 0.85rem;
}

.ant-btn {
  font-weight: 600;
}

.ant-btn:not(.ant-btn-sm) {
  padding: 1.2rem 1.6rem;
}

.ant-input {
  padding: 0.4rem 0.8rem;
}
