@use "../../../assets/scss/colors";
@use "../../../assets/scss/text-styles";

.resume {
  .contact-info {
    display: flex;
    gap: 0.62rem;
    align-items: center;

    & > *:not(.icon) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
