@use "../../../assets/scss/colors";

.resume-section {
  width: 100%;

  h2 {
    font-size: 1rem;
  }

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content {
    .about {
      word-wrap: break-word;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
    }
  }

  & > .title {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid colors.$black;
  }
}

.resume-aside .resume-section {
  & > .title {
    border-color: colors.$white;
  }

  .content.list {
    gap: 1rem;
  }
}
