@use "../../../assets/scss/colors";
@use "../../../assets/scss/text-styles";

footer {
  padding: 3rem;
  border-top: 1px solid colors.$black-10;
  text-align: center;

  .credits {
    @include text-styles.footer-link;
  }
}
