.card-form {
  margin: 1.5rem 0;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    .years {
      display: flex;
      gap: 1.5rem;
      width: 100%;

      .end-year {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .present-checkbox {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .card-form {
    .inputs {
      .years {
        flex-direction: column;
      }
    }
  }
}
