@use "../../../assets/scss/colors";
@use "../../../assets/scss/text-styles";

.resume-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 450px;
  margin: 0 auto;
}

.submit-button {
  width: 100%;
}
