@use "../../../assets/scss/colors";
@use "../../../assets/scss/text-styles";

.resume {
  max-width: 950px;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-areas:
    "header header"
    "aside main";
  background-color: colors.$white;
  overflow: hidden;

  // *:not(.icon) {
  //   white-space: nowrap;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  // }

  .resume-header {
    grid-area: header;
    padding: 4.38rem 0;
    text-align: center;
    background-color: colors.$primary;
    color: colors.$white;
    max-width: inherit;

    & > * {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .fullname {
      @include text-styles.resume-fullname-title;
    }

    .work-position {
      @include text-styles.resume-work-title;
    }
  }

  .resume-aside,
  .resume-main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .resume-aside {
    grid-area: aside;
    padding: 3.75rem 3.12rem;
    background-color: colors.$black;
    color: colors.$white;
  }

  .resume-main {
    grid-area: main;
    padding: 3.75rem 4.5rem;
    color: colors.$black;
  }
}
