@use "../../assets/scss/colors";
@use "../../assets/scss/text-styles";

.ant-form-item-label {
  @include text-styles.form-label;
}

.resume-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  max-width: 450px;
}
